body {
    margin: 0;
}

.box {
    width: 200px;
    height: 100px;
}

.box1 {
    width: 100%;
    background: steelblue;
    padding: 1px;
    /* margin-top: 50px;
    margin-bottom: -100px;
    margin-left: 30px;
    margin-right: 25px; */
    /* margin: top right bottom left; */

    /* margin: 50px 30px 25px 30px; */

    /* margin: 40px 0 80px; */
    /* margin: auto; */
    /* margin-right: auto;
    margin-left: auto; */
    /* margin: 0 auto; */
    /* margin-bottom: 50px; */
    margin-top: 0;
}

.header {
    background: gold;
    height: 40px;
    margin-top: 40px;

    /*
        Para box model utilizar o box size do Paul Irish
        html {
            box-sizing: border-box;
            }
            *, *:before, *:after {
            box-sizing: inherit;
        }
    */
}

.box2 {
    opacity: 0.5;
    background: tomato;
    margin-top: 40px;
}