body {
    margin: 0;
}

.box {
    width: 200px;
    height: 100px;
}

.box1 {
    background: steelblue;
    /* margin-top: 50px;
    margin-bottom: -100px;
    margin-left: 30px;
    margin-right: 25px; */
    /* margin: top right bottom left; */

    /* margin: 50px 30px 25px 30px; */

    margin: 40px 80px;
}

.box2 {
    opacity: 0.5;
    background: tomato;
}