* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box {
    width: 200px;
    height: 100px;
}

.box1 {
    background: steelblue;
    border: 1px solid black;
    /* margin-top: 50px;
    margin-bottom: -100px;
    margin-left: 30px;
    margin-right: 25px; */
    /* margin: top right bottom left; */

    /* margin: 50px 30px 25px 30px; */

    /* margin: 40px 0 80px; */
    /* margin: auto; */
    /* margin-right: auto;
    margin-left: auto; */
    /* margin: 0 auto; */
    /* margin-bottom: 50px; */
    margin-top: 0;
}

.box2 {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: white;
    background: crimson;
    margin-top: 40px;
    border: 1px solid black;
    overflow: hidden;
}