h2 {
    color: steelblue;
}

.borde {
    border: 1px solid black;
}

#section {
    border: 1px solid black;
}

.titulo {
    text-align: center;
}

.😁 {
    color: green;
}

[href] {
    text-decoration: none;
}

[href="https://alexcgdesign.com/inicio"] {
    color: darkred;
}

[href^="hsttps"] {
    color: darkgreen;
}

[href$="org"] {
    background: steelblue;
    color: white;
}

[href*="alex"] {
    background: darksalmon;
}