h2,h3 {
    font-size: 25px;
    font-family: 'Arial';
}

.contenedor>p {
    color: darkslateblue;
}

nav.contenedor .titulo {
    background: steelblue;
}

h2+p {
    color: gold;
}

h2~p {
    color: gold;
}