*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background: orangered;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;

    /* border: width style color; */
    /* border: 10px dashed black; */

    border-width: 10px;
    border-style: dashed dashed;
    border-color: brown steelblue;
}