*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: rgb(255, 255, 255);
    padding: 45px 0;
    background: rgb(0, 0, 0);
    background: #ff0000;
    /* background: hsl(hue, saturation, lightness); */
    background: hsl(0, 100%, 50%);

}

.title {
    text-align: center;
}