*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9ab1f6;
    font-family: cursive;
}

.container {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
}

.h1 {
    text-align: center;
}

.img {
    width: 250px;
}

.copy {
    text-align: justify;
    padding: 10px 0;
    /* font-style: italic; */
    /* letter-spacing: -2px; */
    /* word-spacing: 30px; */
    /* text-shadow: 3px 3px 6px rgba(0, 0, 0, .5); */
    /* text-transform: uppercase; */
    /* line-height: 30px; */
    /* font-variant: small-caps; */
}

.bold {
    color: crimson;
    /* font-weight: bold; */
    font-size: 20px;
}

a {
    display: inline-block;
    text-align: left;
    padding: 10px 25px;
    border: 1px solid crimson;
    /* text-decoration-line: underline; */
    /* text-decoration-style: wavy; */
    text-decoration: none;
}